<div class="container">

  <ul class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="/">入荷一覧</a></li>
      <li class="active">入荷変更:{{bean.importDate | date:'yyyy/MM/dd'}} {{bean.brand}}</li>
  </ul>

  <h2>入荷変更</h2>
  <form name="updateForm" novalidate ng-submit="update()">
    <div ng-include="'app/view/partials/bean_form_groups.html'"></div>
    <button type="submit" class="btn btn-warning">変更</button>
    <button class="btn btn-default btn-material-brown-100" ui-sref="app.root.list">キャンセル</button>
  </form>

</div>
